@model IEnumerable<Ionici_Floriana_Proiect.Models.BakeryViewModels.OrderGroup>
@{
    ViewData["Name"] = "Ordered Cakes Statistics";
}
<h2>Ordered Cakes Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered 
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.CakeCount
            </td>
        </tr>
    }
</table>